body{
  margin: 0;
  overflow: hidden;
}

a, a:link, a:visited, a:active, a:hover{
  text-decoration: none;
  color: #0079ff;
}

input:focus{
  /*border-top: 1px solid rgb(41, 48, 59);;
  border-left: 1px solid rgb(41, 48, 59);;
  border-right: 1px solid rgb(41, 48, 59);;*/
  outline: none;
}
.land{
  background-color: rgb(41, 48, 59);
  height: 100vh;
  width: 100vw;
}

.comp_name{
  font-family: 'Josefin Sans';
  font-size: 55px;
  color: rgb(239, 239, 239);
  padding-top: 7vh;
  text-align: left;
  transition: 800ms all ease-in;
}
.complogo{
  height: 7vh;
  width: 9%;
  background-image: url('assets/logo.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
}
.loader{
  position: relative;
  margin: auto;
  height: 10vh;
  width: 10vh;
  margin-top: 10vh;
  border-radius: 100%;
  border-bottom: 5px solid #fff;
  border-left: 5px solid #fff;
  border-right: 5px solid #fff;
  border-top: 5px solid #313131;
  transition: 300ms all ease-in-out;
  animation: load 2s infinite;
}
input{
  font-family: 'Quicksand';
  background-color: transparent;
}
.tender, .go{
  margin: auto;
}
.searchbar{
  position: relative;
  background-color: transparent;
  border: none;
  padding-top: 15px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 15px;
  font-size: 25px;
  color: rgb(239, 239, 239);
  opacity: 1;
  width: 50vw;
  margin-top: 20vh;
  transition: 300ms all ease-in-out;
  font-family: 'Quicksand';
  border-bottom: 2px solid rgb(239, 239, 239);
}
.search_box{
  position: relative;
  box-sizing: border-box;
  padding-top: 20px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 20px;
  font-size: 20px;
  background-color: transparent;
  border: 3px solid rgb(239, 239, 239);
  color: rgb(239, 239, 239);
  opacity: 1;
  transition: 300ms all ease-in-out;
}
.search_box:hover{
  color: #000;
  margin-top: -1vh;
  box-shadow: inset 0px -80px 0px 0px #fff;
}
.line_t{
  position: absolute;
  background-color: rgb(239, 239, 239);
  width: 40vw;
  height: 1px;
  margin-top: -15vh;
  margin-left: 30vw;
}
.l2{
  margin-top: 75vh;
}
.main{
  height: 100vh;
  width: 100vw;
}
.nav{
  width: 100vw;
  background-color: rgb(41, 48, 59);
  padding-top: 10px;
  padding-bottom: 10px;
}
.logo{
  padding-left: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-right: 10px;
  font-size: 30px;
  color: rgb(239, 239, 239);
  border-right: 1px solid #fff;
  width: 10vw;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  transition: 300ms;
}
.logo:hover{
  background-color: #313131;
}
.bartender2{
  width: 60vw;
  display: inline-block;
  padding-left: 10vw;
}
.searchbar2{

  background-color: transparent;
  border: none;
  padding-top: 10px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 10px;
  font-size: 25px;
  color: rgb(239, 239, 239);
  opacity: 1;
  width: 50vw;
  border-bottom: 2px solid rgb(239, 239, 239);
  transform: translateY(-1vh);
}
.bglogo{
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 1;
  background-image: url('incoglogo.png');
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 0.4;
}
.lin{
  position: relative;
  z-index: 4;
}

.terms{
  position: absolute;
  z-index: 2;
  height: 40vw;
  width: 100vh;
  transform: rotate(-90deg);
  color: rgb(239, 239, 239);
}
.policy{
  color: rgb(239, 239, 239);
  font-size: 15px;
  font-family: 'Quicksand';
}
.ham{
  position: absolute;
}
.bars{
  margin-top: 8vh;
  cursor: pointer;
  position: absolute;
  z-index: 30;
}
.bar{
  height: 2px;
  width: 40px;
  background-color: rgb(239, 239, 239);
  margin-top: 1vh;
  transition: 300ms;
}
ul{
  list-style-type: none;
}
.profile{
  position: relative;
  z-index: 10;
  width: 20vw;
  height: 100vh;
  margin-left: -20vw;
  transition: 300ms all ease-in-out;
  background-color: rgb(239, 239, 239);
}
.menu_ac{
  margin-left: 0;
}
.bar1_ac{
  background-color: rgb(41, 48, 59);
  transform: rotate(45deg);
}
.bar2_ac{
  background-color: rgb(41, 48, 59);
  margin-top: -2px;
  transform: rotate(-45deg);
}
.bar3_ac{
  background-color: rgb(41, 48, 59);
  opacity: 0;
}
ul{
  margin-top: 5vh;
  margin-left: -40px;
}
.item{
  cursor: pointer;
  font-family: 'Quicksand';
  font-size: 28px;
  padding-top: 5vh;
  padding-bottom: 1vh;
  text-align: center;
  font-family: 'Josefin Sans';
}
.ham_img{
  height: 10vh;
  width: 30vh;
  margin: auto;
  padding-top: 10vh;
}
.butt{
  margin: 3vh;
  font-size: 18px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 30px;
  color: rgb(239, 239, 239);
  border: 2px solid rgb(239, 239, 239);
  transition: 300ms;
  font-family: 'Josefin Sans';
  cursor: pointer;
}
.whyno{
  text-align: center;
  opacity: 0;
  font-size: 15px;
  /*color: rgb(41, 48, 59);*/
  color: rgb(239, 239, 239);
  transition: 300ms;
  font-family: 'Quicksand';
  padding-bottom: 3vh;
}
.result_box{
  padding-top: 1vh;
  height: 100vh;
  background-color: #dedede00;
}
.result{
  position: relative;
  z-index: 20;
  margin: auto;
  /*height: 15vh;*/
  /*margin: 1vh;*/
  width: 80vw;
  display: inline-block;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 20px;
  background-color: #fff;
  margin-top: 1vh;
  box-shadow: 0px 5px 20px -6px #dedede;
  cursor: pointer;
  transition: 300ms;
  /*border-bottom: 2px solid rgb(41, 48, 59);*/
}
.webname{
  font-size: 15px;
  color: #13171c;
  margin-top: 1vh;
  margin-bottom: 1vh;
  font-family: 'Montserrat';
}
.results{
  width: 85%;
  padding-top: 10vh;
  margin: auto;
}
.result_data{
  font-size: 30px;

}
.page{
  float: right;
}
.pag{
  float: right;
  padding-right: 12px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 12px;
  font-size: 20px;
  color: rgb(41, 48, 59);
  border: 2px solid rgb(41, 48, 59);
  background-color: transparent;
  display: inline-block;
  margin-right: 2vw;
  transition: 500ms;
  cursor: pointer;
  animation: results 2s linear infinite;
}
.pag:hover{
  box-shadow: inset 0px 0px 0px 15px rgb(41, 48, 59);
  color: rgb(239, 239, 239);
}
.page2{

}

.results{
  transition: 500ms all ease-in-out;
}
.results2{
  position: absolute;
  margin-left: 100vw;
  margin-top: -75vh;
  transition: 500ms all ease-in-out;
}
.result_ac{
  transform: translateX(-90vw);
}
.timer{
  margin-left: 5vw;
  position: absolute;
  width: 40vw;
  height: 10vh;
  display: inline-block;
  font-size: 20px;
}

.logo{
  font-family: 'Josefin Sans';
}
input{
  font-family: 'Quicksand';
}
.rh{
  font-family: 'Quicksand';
}
.rp{
  font-family: 'ubuntu';
  font-size: 15px;
}
.infobox{
  display: none;
  height: 60vh;
  width: 40vw;
  background-color: #fff;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  height: 40vh;
  width: 30vw;
  float: right;
  transition: 300ms;
  cursor: pointer;
  box-shadow: 0px 5px 20px -8px #dedede;
  margin-right: 7vh;
}
.line{
  height: 1px;
  background-color: #13171c;
  width: 20vw;
  margin: auto;
  margin-top: 2vh;
  margin-bottom: 2vh;
}
.infohead{
  width: inherit;
  padding-top: 10px;
  padding-left: 5px;
  padding-right: 5px;
}
.infoh{
  width: 10vw;
  font-size: 30px;
  font-family: 'Josefin Sans';
  display: inline-block;
}
.infotext{
  font-size: 14px;
  font-family: 'Quicksand';
}
.infologo{
  display:inline-block;
  width: 15vw;
  height: 15vh;
  background-position: right;
  background-repeat: no-repeat;
  background-image: url('github.png');
  background-size: contain;
}
.info_ac{
  display: inline-block;
}
.width40{
  width: 40vw;
  float: left;
}


.b1{
  background-color: rgb(239, 239, 239);
  color: rgb(41, 48, 59);
}
.b1:hover{
  box-shadow: inset 0px 15px 0px 0px rgb(41, 48, 59);
  color: rgb(239, 239, 239);
}
.b2:hover{
  color: rgb(41, 48, 59);
  box-shadow: inset 0px 70px 0px 0px rgb(239, 239, 239);
}
.it3{
  color: rgb(41, 48, 59);
}
.timer{
  font-family: 'Quicksand';
}
.rh{
  color: #0079ff;
}
.rh a{
  color: #0079ff !important;
  position: relative;
  z-index: 20;
  margin: auto;
  /*height: 15vh;*/
  /*margin: 1vh;*/
  width: 80vw;
  display: inline-block;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 20px;
  background-color: #fff;
  margin-top: 1vh;
  box-shadow: 0px 5px 20px -6px #dedede;
  cursor: pointer;
  transition: 300ms;
}
.up{
  box-shadow: 0px 5px 20px 2px #dedede;
}
.f-light{
  background: #dedede;
}
.b-light{
  box-shadow: 0px 5px 20px 2px #dedede;
}
.hide1{
  opacity: 0;
  z-index: -2;
}
.show1{
  opacity: 1;
  display: inline-block;
}


@keyframes load {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }

}
@keyframes results {
  0%{
    transform: translateX(0vw);
  }
  50%{
    transform: translateX(10px);
  }
  100%{
    transform: translateX(0vw);
  }

}

@media screen and (max-width: 500px) {
  body{
    overflow: visible;
  }
  .policy, .terms{
    display: none;
  }
  .profile{
    margin-left: -100vw;
    width: 100vw;
  }

  .menu_ac{
    width: 100vw;
    margin: 0;
  }
  .results2{
    margin: 0;
    position: relative;
  }
  .result_box{
    height: auto;

  }
  .pager{
    display: none;
  }
  .infobox{
    display: none;
  }
  .logo{
    border: none;
  }

}
